Git/SPARK.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0" : {
          "identifier" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
          "name" : "DBCPConnectionPool"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "8621ea98-cf9b-340d-834c-bb6bbf868b48",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "65377a31-7afa-3bc4-89a5-9b8e97f451f4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "2e83c0c5-7d09-37c0-a995-defc1ea7c4b6",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "2e83c0c5-7d09-37c0-a995-defc1ea7c4b6",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "b29fcfbb-816a-39ef-ad84-3513dfee70ea",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "05d61659-a1e4-3ee2-9a3e-d43fa36485a2",
            "name" : "ConvertAvroToJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "955e891f-a8fc-3325-9702-a20bbd52feec",
            "name" : "PutSQL START",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "1546685d-b2d6-39fc-be37-719fc7d8d505",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "id" : "75bcb8b8-ebd2-3c63-9ff8-02a0d8c6f85f",
            "name" : "not_incremental",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -120.48993000053076,
            "y" : -636.0505739056225
          }, {
            "x" : -120.48993000053076,
            "y" : -586.0505739056225
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f3492c36-b709-3b08-a7e0-b9fee6aad479",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "75c3bedb-c64e-3926-8d83-0d25f9396d23",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f3492c36-b709-3b08-a7e0-b9fee6aad479",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f3492c36-b709-3b08-a7e0-b9fee6aad479",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "16ce117c-24c4-3e2d-9cdd-4a58c2ead704",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "9936de73-6ba9-38aa-914b-ed704cfadf3c",
            "name" : "UpdateAttribute DATE_END_SPARK",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "2ae4cbec-42ac-36b5-bb78-b81f8dd79db2",
            "name" : "UpdateAttribute DATE_END_SPARK",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "e1e3eb9e-23f2-3de5-96b3-500a005c219b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f486e2a6-1bc3-35da-8721-8bd3234e3b9f",
            "name" : "RouteOnAttribute CONTROLLO DATA",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 631.8023477298971,
            "y" : -557.5256076135521
          }, {
            "x" : 631.8023477298971,
            "y" : -507.5256076135521
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "77682968-6d18-393f-8bc1-a278da475dd5",
            "name" : "ExecuteSQL UPDATE Offset",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "3e97381d-2729-33ac-8c02-73b0b2808ffa",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "77682968-6d18-393f-8bc1-a278da475dd5",
            "name" : "ExecuteSQL UPDATE Offset",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f486e2a6-1bc3-35da-8721-8bd3234e3b9f",
            "name" : "RouteOnAttribute CONTROLLO DATA",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "a39e2f1f-f111-34f7-a05e-0a7cf7f0b707",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "130f5824-e7c4-351b-a755-507504552ce6",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -558.4832458496094,
            "y" : -1412.6380615234375
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "id" : "95365af5-bedf-36c6-a2d8-362e2b87f831",
            "name" : "Error",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "5b39af61-b422-30ab-84a8-29acc4f78df6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "05d61659-a1e4-3ee2-9a3e-d43fa36485a2",
            "name" : "ConvertAvroToJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "9936de73-6ba9-38aa-914b-ed704cfadf3c",
            "name" : "UpdateAttribute DATE_END_SPARK",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "bf98750e-034f-3204-b72f-e0fd98b2ff0c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "ea66d530-efb5-30cd-bf32-caac463b346a",
            "name" : "Spark Job",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -1135.8068628198166,
            "y" : -2085.9536693147284
          }, {
            "x" : -1138.3226098901291,
            "y" : -2168.0303294709784
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "955e891f-a8fc-3325-9702-a20bbd52feec",
            "name" : "PutSQL START",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "701e9cc8-2354-336c-92bf-996191b33a8b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "955e891f-a8fc-3325-9702-a20bbd52feec",
            "name" : "PutSQL START",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "130f5824-e7c4-351b-a755-507504552ce6",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "aff5953d-8fc0-320b-8f2f-7fef0a3dc4d6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "189732c9-03aa-3082-b7b2-a2d265dbf705",
            "name" : "Prepare Job Spark Attributes",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -27.8477893770405,
            "y" : -2111.498364064123
          }, {
            "x" : 95.36988106363333,
            "y" : -2046.8295408219356
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "b844e162-3495-35c8-a620-37e3c6da8426",
            "name" : "Order by Timestamp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "2f7abdea-a3a6-31c2-b17f-f77ea4b473eb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "wait" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "b844e162-3495-35c8-a620-37e3c6da8426",
            "name" : "Order by Timestamp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "d7651a81-9518-38b9-bd1b-1e9b36b5cb3f",
            "name" : "Convert Date to Timestamp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "6ce47f52-6432-3734-b7d0-91e3edb9f8ad",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "e11a48bd-c5ae-389f-bed3-a2f3d52dd9d2",
            "name" : "Recovery Attribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "id" : "369c64c4-65ae-33da-84f9-5a6fdf5db621",
            "name" : "check_incremental",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "d1fe5886-04f1-3f52-9350-1d846b94ddb0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "d32ed706-2900-3651-8ef1-7511e2b658bb",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f988862a-7846-3854-81b8-24e0fb0e73f5",
            "name" : "PutSQL EVENT LOG SUCCESSED",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "27a92cdd-3278-3bc8-abc2-353b3bb7b866",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "77682968-6d18-393f-8bc1-a278da475dd5",
            "name" : "ExecuteSQL UPDATE Offset",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -563.0452880859375,
            "y" : -1513.002685546875
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "id" : "95365af5-bedf-36c6-a2d8-362e2b87f831",
            "name" : "Error",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "e8863d63-da04-394b-ba9b-688fa148ddaf",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "8de2fcb7-e105-352a-a662-c70e08fd07f5",
            "name" : "ExecuteSQL Per Offset",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -563.0452880859375,
            "y" : -1630.0947265625
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "id" : "95365af5-bedf-36c6-a2d8-362e2b87f831",
            "name" : "Error",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "bbf9104e-2af1-38b7-ad1e-74fff8251430",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "skipped" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "b844e162-3495-35c8-a620-37e3c6da8426",
            "name" : "Order by Timestamp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "b844e162-3495-35c8-a620-37e3c6da8426",
            "name" : "Order by Timestamp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "7a91ca3c-919b-393e-9cbc-b1746657e4c7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "d7651a81-9518-38b9-bd1b-1e9b36b5cb3f",
            "name" : "Convert Date to Timestamp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "e11a48bd-c5ae-389f-bed3-a2f3d52dd9d2",
            "name" : "Recovery Attribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "375ebc47-ff48-3488-b9d3-784b843508e8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "955e891f-a8fc-3325-9702-a20bbd52feec",
            "name" : "PutSQL START",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "05d61659-a1e4-3ee2-9a3e-d43fa36485a2",
            "name" : "ConvertAvroToJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "b3fa75aa-e3af-33fa-95ee-3aec73230fee",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "8de2fcb7-e105-352a-a662-c70e08fd07f5",
            "name" : "ExecuteSQL Per Offset",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 627.1747842533346,
            "y" : -370.4809282289898
          }, {
            "x" : 627.1747842533346,
            "y" : -320.4809282289898
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f988862a-7846-3854-81b8-24e0fb0e73f5",
            "name" : "PutSQL EVENT LOG SUCCESSED",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "18a8abf2-6577-3848-9137-2a4e437523ab",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f988862a-7846-3854-81b8-24e0fb0e73f5",
            "name" : "PutSQL EVENT LOG SUCCESSED",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "354de952-fca4-38de-8da6-b40212f5505a",
            "name" : "PutSQL EVENT LOG FAIL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "af769936-5217-3cf8-8891-ca95d9a65066",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f3492c36-b709-3b08-a7e0-b9fee6aad479",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "e11a48bd-c5ae-389f-bed3-a2f3d52dd9d2",
            "name" : "Recovery Attribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "d90170e6-be38-3145-bc43-a2b33a3134b6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "id" : "d87db43e-a1a1-362a-a1b9-71cacfe226f4",
            "name" : "retry",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "85095313-7646-3c6f-a3c4-32c444a6be4c",
            "name" : "PutSQL EVENT LOG FAIL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "f4ad00aa-661b-3bd2-87e9-703e36349918",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "2ae4cbec-42ac-36b5-bb78-b81f8dd79db2",
            "name" : "UpdateAttribute DATE_END_SPARK",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 348.4959716796875,
            "y" : -1941.8885498046875
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "8de2fcb7-e105-352a-a662-c70e08fd07f5",
            "name" : "ExecuteSQL Per Offset",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "9d485983-2386-3a73-824b-fcf71a1316ee",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "overtook", "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "b844e162-3495-35c8-a620-37e3c6da8426",
            "name" : "Order by Timestamp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "77682968-6d18-393f-8bc1-a278da475dd5",
            "name" : "ExecuteSQL UPDATE Offset",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "05425548-f4f9-3837-9898-40f80c895cb8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "2c322a4d-3511-39a8-904d-9f2f22fb57d3",
            "name" : "UpdateAttribute DATE_END_SPARK",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -120.28487732262329,
            "y" : -434.53054439969833
          }, {
            "x" : -120.28487732262329,
            "y" : -384.53054439969833
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "354de952-fca4-38de-8da6-b40212f5505a",
            "name" : "PutSQL EVENT LOG FAIL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "9d10b7d8-aa68-334f-b140-f9da51f3ab9d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "354de952-fca4-38de-8da6-b40212f5505a",
            "name" : "PutSQL EVENT LOG FAIL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "2c322a4d-3511-39a8-904d-9f2f22fb57d3",
            "name" : "UpdateAttribute DATE_END_SPARK",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "9561d441-c718-3a2e-b212-aaa4160877dd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "ea66d530-efb5-30cd-bf32-caac463b346a",
            "name" : "Spark Job",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 2394.7456615126957,
            "y" : -868.4375466558793
          }, {
            "x" : 2264.9594066298832,
            "y" : -719.5527810308793
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "85095313-7646-3c6f-a3c4-32c444a6be4c",
            "name" : "PutSQL EVENT LOG FAIL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "11a75206-dae7-3af2-8682-79bc6dd5cf55",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "85095313-7646-3c6f-a3c4-32c444a6be4c",
            "name" : "PutSQL EVENT LOG FAIL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -564.5659790039062,
            "y" : -1275.77734375
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "id" : "95365af5-bedf-36c6-a2d8-362e2b87f831",
            "name" : "Error",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "012342b8-8acc-3978-9286-8a99cea89104",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "2e83c0c5-7d09-37c0-a995-defc1ea7c4b6",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "189732c9-03aa-3082-b7b2-a2d265dbf705",
            "name" : "Prepare Job Spark Attributes",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "74d085e1-30dc-34f7-a866-ad2cec33b291",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "8621ea98-cf9b-340d-834c-bb6bbf868b48",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "ea66d530-efb5-30cd-bf32-caac463b346a",
            "name" : "Spark Job",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "93100ec0-0e5c-31af-96a9-a05ec7162962",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "controlloFile" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "f486e2a6-1bc3-35da-8721-8bd3234e3b9f",
            "name" : "RouteOnAttribute CONTROLLO DATA",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "d32ed706-2900-3651-8ef1-7511e2b658bb",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "31cf658e-1dd2-3426-8dbf-263d6011ecf0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "4a273092-2d11-394b-866f-57dbe2e498ef",
            "name" : "ListHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -569.1488037109375,
            "y" : -1765.8134765625
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "id" : "95365af5-bedf-36c6-a2d8-362e2b87f831",
            "name" : "Error",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "972e5b7f-74e4-38f5-a866-f441313766de",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
            "id" : "d7651a81-9518-38b9-bd1b-1e9b36b5cb3f",
            "name" : "Convert Date to Timestamp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "6990e9ee-77ba-377b-aacb-cf0e90a81579",
          "name" : "DBCPConnectionPoolLookup",
          "properties" : {
            "SCHEMA2" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
            "SCHEMA1" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0"
          },
          "propertyDescriptors" : {
            "SCHEMA2" : {
              "displayName" : "SCHEMA2",
              "identifiesControllerService" : true,
              "name" : "SCHEMA2",
              "sensitive" : false
            },
            "SCHEMA1" : {
              "displayName" : "SCHEMA1",
              "identifiesControllerService" : true,
              "name" : "SCHEMA1",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPoolLookup"
        } ],
        "funnels" : [ ],
        "identifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
        "inputPorts" : [ ],
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "height" : 92.25166320800781,
          "identifier" : "0c8bcf3f-e6b4-3fa0-98a7-a3a143fb59f4",
          "label" : "FINE SPARK",
          "position" : {
            "x" : 47.41038046883318,
            "y" : -318.3642234675426
          },
          "style" : {
            "background-color" : "#4ce605",
            "font-size" : "18px"
          },
          "width" : 404.6849670410156
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "height" : 150.0,
          "identifier" : "ee40ed68-eccb-3cf3-babb-f5b779a7ab6e",
          "label" : "controllo data\n",
          "position" : {
            "x" : 838.2099644198702,
            "y" : -1199.2620301717416
          },
          "style" : {
            "font-size" : "12px"
          },
          "width" : 150.0
        } ],
        "name" : "SPARK",
        "outputPorts" : [ ],
        "position" : {
          "x" : -1192.0,
          "y" : -2160.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "2f6b9988-0562-3e50-ae66-69c4592c9814",
              "name" : "PutHDFS",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "4da751a1-254f-3f0e-b1e5-6c004003c41b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "27f53b14-9815-34dc-8dc3-7a47193bde70",
              "name" : "PutSQL EVENT LOG",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "00b4e77c-ae97-345b-aef2-32179bcb0af5",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "3d07a3ea-6284-3180-92b1-bc442cb4d3e7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "ceed7af2-9df5-3ce8-899c-305e408f78da",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "ceed7af2-9df5-3ce8-899c-305e408f78da",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "2dddcc98-07f2-33c7-a132-4d0bf89f8a60",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "95365af5-bedf-36c6-a2d8-362e2b87f831",
              "name" : "Error",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1177.993896484375,
              "y" : -2198.80810546875
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "d87db43e-a1a1-362a-a1b9-71cacfe226f4",
              "name" : "retry",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "bef54718-c275-3c3c-a8e9-2d61372b0928",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "00b4e77c-ae97-345b-aef2-32179bcb0af5",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "27f53b14-9815-34dc-8dc3-7a47193bde70",
              "name" : "PutSQL EVENT LOG",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "db691f84-5ee1-3ea8-8c32-b2c0a8936d6e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "8ae209b3-eb55-3072-8088-9e686dad7cf9",
              "name" : "UpdateAttribute DATE_END_SPARK",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -238.867316703401,
              "y" : -1992.0473479506563
            }, {
              "x" : -238.867316703401,
              "y" : -1942.0473479506563
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "27f53b14-9815-34dc-8dc3-7a47193bde70",
              "name" : "PutSQL EVENT LOG",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "f2b0b7d5-affc-3dbb-8494-817bbbd1c4b1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure", "retry" ],
            "source" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "27f53b14-9815-34dc-8dc3-7a47193bde70",
              "name" : "PutSQL EVENT LOG",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "8ae209b3-eb55-3072-8088-9e686dad7cf9",
              "name" : "UpdateAttribute DATE_END_SPARK",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "22b3e0ae-d12a-34e4-b7ab-cfdd1748db4d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "00b4e77c-ae97-345b-aef2-32179bcb0af5",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -234.34816859925468,
              "y" : -1760.1304509143756
            }, {
              "x" : -234.34816859925468,
              "y" : -1710.1304509143756
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "2f6b9988-0562-3e50-ae66-69c4592c9814",
              "name" : "PutHDFS",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "f2c0a784-8ad4-3060-9ebc-422c3a810b8f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
              "id" : "2f6b9988-0562-3e50-ae66-69c4592c9814",
              "name" : "PutHDFS",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "funnels" : [ ],
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "95365af5-bedf-36c6-a2d8-362e2b87f831",
            "name" : "Error",
            "position" : {
              "x" : -1721.7708293139835,
              "y" : -2425.439516478514
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Handle Error",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "d87db43e-a1a1-362a-a1b9-71cacfe226f4",
            "name" : "retry",
            "position" : {
              "x" : -1693.648504880188,
              "y" : -2236.798542925085
            },
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : -1147.6475402837104,
            "y" : -1506.3928694146532
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-hadoop-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "2f6b9988-0562-3e50-ae66-69c4592c9814",
            "name" : "PutHDFS",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -689.3481685992547,
              "y" : -1800.1304509143756
            },
            "properties" : {
              "Hadoop Configuration Resources" : "${hdfs-site},${core-site}",
              "Compression codec" : "NONE",
              "Ignore Locality" : "false",
              "Kerberos Relogin Period" : "4 hours",
              "Directory" : "/errorFiles/year=${now():format('yy')}/month=${now():format('MM')}/day=${now():format('dd')}",
              "Conflict Resolution Strategy" : "replace"
            },
            "propertyDescriptors" : {
              "Permissions umask" : {
                "displayName" : "Permissions umask",
                "identifiesControllerService" : false,
                "name" : "Permissions umask",
                "sensitive" : false
              },
              "Hadoop Configuration Resources" : {
                "displayName" : "Hadoop Configuration Resources",
                "identifiesControllerService" : false,
                "name" : "Hadoop Configuration Resources",
                "sensitive" : false
              },
              "Remote Owner" : {
                "displayName" : "Remote Owner",
                "identifiesControllerService" : false,
                "name" : "Remote Owner",
                "sensitive" : false
              },
              "Additional Classpath Resources" : {
                "displayName" : "Additional Classpath Resources",
                "identifiesControllerService" : false,
                "name" : "Additional Classpath Resources",
                "sensitive" : false
              },
              "Compression codec" : {
                "displayName" : "Compression codec",
                "identifiesControllerService" : false,
                "name" : "Compression codec",
                "sensitive" : false
              },
              "IO Buffer Size" : {
                "displayName" : "IO Buffer Size",
                "identifiesControllerService" : false,
                "name" : "IO Buffer Size",
                "sensitive" : false
              },
              "Remote Group" : {
                "displayName" : "Remote Group",
                "identifiesControllerService" : false,
                "name" : "Remote Group",
                "sensitive" : false
              },
              "Block Size" : {
                "displayName" : "Block Size",
                "identifiesControllerService" : false,
                "name" : "Block Size",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "Kerberos Keytab" : {
                "displayName" : "Kerberos Keytab",
                "identifiesControllerService" : false,
                "name" : "Kerberos Keytab",
                "sensitive" : false
              },
              "Ignore Locality" : {
                "displayName" : "Ignore Locality",
                "identifiesControllerService" : false,
                "name" : "Ignore Locality",
                "sensitive" : false
              },
              "Kerberos Principal" : {
                "displayName" : "Kerberos Principal",
                "identifiesControllerService" : false,
                "name" : "Kerberos Principal",
                "sensitive" : false
              },
              "Replication" : {
                "displayName" : "Replication",
                "identifiesControllerService" : false,
                "name" : "Replication",
                "sensitive" : false
              },
              "Kerberos Relogin Period" : {
                "displayName" : "Kerberos Relogin Period",
                "identifiesControllerService" : false,
                "name" : "Kerberos Relogin Period",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.hadoop.PutHDFS",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "00b4e77c-ae97-345b-aef2-32179bcb0af5",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -695.328430421376,
              "y" : -2479.693737028134
            },
            "properties" : {
              "Routing Strategy" : "Route to 'match' if all match",
              "retry" : "${try:le(3)}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "retry" : {
                "displayName" : "retry",
                "identifiesControllerService" : false,
                "name" : "retry",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "6 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "8ae209b3-eb55-3072-8088-9e686dad7cf9",
            "name" : "UpdateAttribute DATE_END_SPARK",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -687.5186866809818,
              "y" : -2252.7762555194026
            },
            "properties" : {
              "date_end_spark" : "${now():format('yyyy-MM-dd HH:mm:ss')}",
              "filename" : "errorJobSpark-${table_name}-${now():format('yyyy-MM-dd')}.log",
              "spark_log_error_path" : "/opt/datafiles/cdm-source/sparkerrorlog",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "date_end_spark" : {
                "displayName" : "date_end_spark",
                "identifiesControllerService" : false,
                "name" : "date_end_spark",
                "sensitive" : false
              },
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "filename" : {
                "displayName" : "filename",
                "identifiesControllerService" : false,
                "name" : "filename",
                "sensitive" : false
              },
              "spark_log_error_path" : {
                "displayName" : "spark_log_error_path",
                "identifiesControllerService" : false,
                "name" : "spark_log_error_path",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "27f53b14-9815-34dc-8dc3-7a47193bde70",
            "name" : "PutSQL EVENT LOG",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -693.867316703401,
              "y" : -2032.0473479506563
            },
            "properties" : {
              "Support Fragmented Transactions" : "true",
              "putsql-sql-statement" : "UPDATE event_log\nSET state ='FAILED',\n    timestamp_fine ='${date_end_spark}',\n    message ='Processo di SPARK JOB della tabella ${table_name} TERMINATO in ERRRORE'\nWHERE id = '${uuid_originale}'",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "false"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          }, {
            "annotationData" : "<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n    <rules>\n        <actions>\n            <attribute>try</attribute>\n            <id>306fb40a-80d2-40a9-b74e-8acdcfd5a8a5</id>\n            <value>0</value>\n        </actions>\n        <conditions>\n            <expression>${try:isNull()}</expression>\n            <id>67bef0a9-edd4-4d5d-a6ec-068dd098b894</id>\n        </conditions>\n        <id>0f1a0a82-1637-44c1-a118-8220090cc780</id>\n        <name>NotExist</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>try</attribute>\n            <id>f6924a39-bf03-4cb2-9b6d-050af837f412</id>\n            <value>${try:plus(1)}</value>\n        </actions>\n        <conditions>\n            <expression>${try:notNull()}</expression>\n            <id>77a1a2a4-816e-4149-93ba-f9eca9479167</id>\n        </conditions>\n        <id>b77fe468-6d17-419d-af07-2a7aa8e61058</id>\n        <name>Exist</name>\n    </rules>\n</criteria>",
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "0bdf3438-e90c-3766-beaf-d68b6f1cf96a",
            "identifier" : "ceed7af2-9df5-3ce8-899c-305e408f78da",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1291.0308101765224,
              "y" : -2476.618836098305
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "76e70af1-f1cc-3ba8-8649-dedce7949697",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "4859f71a-31b6-3a81-8616-e2f56e9aae7d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "b96cb240-3c05-3ea4-8230-f59fea6a4802",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 1709.3283775923123,
              "y" : 250.34624682079726
            }, {
              "x" : 1709.3283775923123,
              "y" : 300.34624682079726
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "39a7d199-3c80-3706-b94e-d539e5124e4c",
              "name" : "ExecuteSQL RecoverQuery",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "d23c750d-6d1b-35be-b149-f7e183169392",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "39a7d199-3c80-3706-b94e-d539e5124e4c",
              "name" : "ExecuteSQL RecoverQuery",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "75bcb8b8-ebd2-3c63-9ff8-02a0d8c6f85f",
              "name" : "not_incremental",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "bef6deca-ceec-3ed4-8303-ec55f907fd8f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "76e70af1-f1cc-3ba8-8649-dedce7949697",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "c59508d7-568a-3dd8-bb22-fbecfa66c4d7",
              "name" : "ConvertAvroToJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "7bf1d80e-0c84-3442-bb02-d21d5c2747b6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "3568d38e-479a-3043-86c8-0c197b4eb711",
              "name" : "SplitAvro",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "b96cb240-3c05-3ea4-8230-f59fea6a4802",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "d32090b5-52c5-37b7-85a7-461417e493cf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "c59508d7-568a-3dd8-bb22-fbecfa66c4d7",
              "name" : "ConvertAvroToJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "3568d38e-479a-3043-86c8-0c197b4eb711",
              "name" : "SplitAvro",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "4eca8a71-48b7-322d-9c01-d97aacd0311c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "39a7d199-3c80-3706-b94e-d539e5124e4c",
              "name" : "ExecuteSQL RecoverQuery",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "39a7d199-3c80-3706-b94e-d539e5124e4c",
              "name" : "ExecuteSQL RecoverQuery",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "64c189d6-8876-33c3-a5f1-f9d48542d05c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "369c64c4-65ae-33da-84f9-5a6fdf5db621",
              "name" : "check_incremental",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "11ed5971-799b-3f95-951a-796c78cbc4ee",
              "name" : "PutSQL START",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "220c3a40-c4e4-396a-bd38-e44b1c18567c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Incrementale-1" ],
            "source" : {
              "comments" : "",
              "groupId" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
              "id" : "76e70af1-f1cc-3ba8-8649-dedce7949697",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "funnels" : [ ],
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "369c64c4-65ae-33da-84f9-5a6fdf5db621",
            "name" : "check_incremental",
            "position" : {
              "x" : 918.9358026992286,
              "y" : 242.5595377879837
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Check_incrementale",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "75bcb8b8-ebd2-3c63-9ff8-02a0d8c6f85f",
            "name" : "not_incremental",
            "position" : {
              "x" : 283.4338116176107,
              "y" : 842.3688592946111
            },
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : -1790.1409941647582,
            "y" : -2359.788806819757
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-avro-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "3568d38e-479a-3043-86c8-0c197b4eb711",
            "name" : "SplitAvro",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1250.7978824418465,
              "y" : 412.8644229320167
            },
            "properties" : {
              "Split Strategy" : "Record",
              "Output Strategy" : "Datafile",
              "Transfer Metadata" : "true",
              "Output Size" : "1"
            },
            "propertyDescriptors" : {
              "Split Strategy" : {
                "displayName" : "Split Strategy",
                "identifiesControllerService" : false,
                "name" : "Split Strategy",
                "sensitive" : false
              },
              "Output Strategy" : {
                "displayName" : "Output Strategy",
                "identifiesControllerService" : false,
                "name" : "Output Strategy",
                "sensitive" : false
              },
              "Transfer Metadata" : {
                "displayName" : "Transfer Metadata",
                "identifiesControllerService" : false,
                "name" : "Transfer Metadata",
                "sensitive" : false
              },
              "Output Size" : {
                "displayName" : "Output Size",
                "identifiesControllerService" : false,
                "name" : "Output Size",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.avro.SplitAvro",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "11ed5971-799b-3f95-951a-796c78cbc4ee",
            "name" : "PutSQL START",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 704.2654638403396,
              "y" : 1060.9077808805841
            },
            "properties" : {
              "Support Fragmented Transactions" : "true",
              "putsql-sql-statement" : "INSERT INTO event_log (id,state,timestamp_inizio,base_dati,scope,process,file_name)\nVALUES ('${uuid_originale}','WARNING','${date_start_spark}','${name_db}','SPARK ${name_db}','SPARK JOB SKIPPED BECAUSE INCREMENTAL','${filename}')",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "false"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "39a7d199-3c80-3706-b94e-d539e5124e4c",
            "name" : "ExecuteSQL RecoverQuery",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1246.3283775923123,
              "y" : 210.34624682079726
            },
            "properties" : {
              "esql-max-rows" : "0",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "compression-format" : "NONE",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "select id_base_dati, id_dataset, nome_dataset, is_incremental from conf_dataset where nome_dataset = '${table_name}' and id_base_dati='${name_db}'",
              "dbf-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "compression-format" : {
                "displayName" : "Compression Format",
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "dbf-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "dbf-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-avro-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "c59508d7-568a-3dd8-bb22-fbecfa66c4d7",
            "name" : "ConvertAvroToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1253.9085982590889,
              "y" : 598.8295432550872
            },
            "properties" : {
              "JSON container options" : "array",
              "Wrap Single Record" : "false"
            },
            "propertyDescriptors" : {
              "JSON container options" : {
                "displayName" : "JSON container options",
                "identifiesControllerService" : false,
                "name" : "JSON container options",
                "sensitive" : false
              },
              "Wrap Single Record" : {
                "displayName" : "Wrap Single Record",
                "identifiesControllerService" : false,
                "name" : "Wrap Single Record",
                "sensitive" : false
              },
              "Avro schema" : {
                "displayName" : "Avro schema",
                "identifiesControllerService" : false,
                "name" : "Avro schema",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.avro.ConvertAvroToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "76e70af1-f1cc-3ba8-8649-dedce7949697",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 702.3486614587287,
              "y" : 801.4561926925744
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "Incrementale-1" : "${incrementale:ge(1)}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "Incrementale-1" : {
                "displayName" : "Incrementale-1",
                "identifiesControllerService" : false,
                "name" : "Incrementale-1",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9c68e7a5-76be-3efa-9041-6e55c637c0d6",
            "identifier" : "b96cb240-3c05-3ea4-8230-f59fea6a4802",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1254.8964871428952,
              "y" : 807.0146677416717
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "id_dataset" : "$.id_dataset",
              "incrementale" : "$.is_incremental",
              "Return Type" : "scalar",
              "Null Value Representation" : "empty string",
              "table_name" : "$.nome_dataset",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "id_dataset" : {
                "displayName" : "id_dataset",
                "identifiesControllerService" : false,
                "name" : "id_dataset",
                "sensitive" : false
              },
              "incrementale" : {
                "displayName" : "incrementale",
                "identifiesControllerService" : false,
                "name" : "incrementale",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "table_name" : {
                "displayName" : "table_name",
                "identifiesControllerService" : false,
                "name" : "table_name",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "d32ed706-2900-3651-8ef1-7511e2b658bb",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2061.209840864415,
            "y" : -2004.9748164159373
          },
          "properties" : {
            "uuid_originale" : "${uuid}",
            "date_start_spark" : "${now():format('yyyy-MM-dd HH:mm:ss')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "table_name" : "${filename:replaceAll('[^\\.]*\\.([^-]*)_.*','$1')}"
          },
          "propertyDescriptors" : {
            "uuid_originale" : {
              "displayName" : "uuid_originale",
              "identifiesControllerService" : false,
              "name" : "uuid_originale",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "date_start_spark" : {
              "displayName" : "date_start_spark",
              "identifiesControllerService" : false,
              "name" : "date_start_spark",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "table_name" : {
              "displayName" : "table_name",
              "identifiesControllerService" : false,
              "name" : "table_name",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "e11a48bd-c5ae-389f-bed3-a2f3d52dd9d2",
          "name" : "Recovery Attribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1113.6886072013099,
            "y" : -1993.0635094521326
          },
          "properties" : {
            "date_start_spark" : "${now():format('yyyy-MM-dd HH:mm:ss')}",
            "month" : "${filename:replaceAll('[^-]*_(\\d{4})(\\d{2})(\\d{2})-.*','$2')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "year" : "${filename:replaceAll('[^-]*_(\\d{4})(\\d{2})(\\d{2})-.*','$1')}",
            "day" : "${filename:replaceAll('[^-]*_(\\d{4})(\\d{2})(\\d{2})-.*','$3')}",
            "table_name" : "${filename:replaceAll('[^\\.]*\\.([^-]*)_.*','$1')}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "date_start_spark" : {
              "displayName" : "date_start_spark",
              "identifiesControllerService" : false,
              "name" : "date_start_spark",
              "sensitive" : false
            },
            "month" : {
              "displayName" : "month",
              "identifiesControllerService" : false,
              "name" : "month",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "year" : {
              "displayName" : "year",
              "identifiesControllerService" : false,
              "name" : "year",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "day" : {
              "displayName" : "day",
              "identifiesControllerService" : false,
              "name" : "day",
              "sensitive" : false
            },
            "table_name" : {
              "displayName" : "table_name",
              "identifiesControllerService" : false,
              "name" : "table_name",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "130f5824-e7c4-351b-a755-507504552ce6",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 801.0294403021569,
            "y" : -1100.400252564632
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "dataDB" : "${last_elab_date:toDate(\"yyyy-MM-dd\"):format(\"yyyyMMdd\")}",
            "dataFile" : "${second_date:toDate(\"yyyy-MM-dd\"):format(\"yyyyMMdd\")}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "dataDB" : {
              "displayName" : "dataDB",
              "identifiesControllerService" : false,
              "name" : "dataDB",
              "sensitive" : false
            },
            "dataFile" : {
              "displayName" : "dataFile",
              "identifiesControllerService" : false,
              "name" : "dataFile",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "9936de73-6ba9-38aa-914b-ed704cfadf3c",
          "name" : "UpdateAttribute DATE_END_SPARK",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -582.4609717940551,
            "y" : -887.009260782655
          },
          "properties" : {
            "date_end_spark" : "${now():format('yyyy-MM-dd HH:mm:ss')}",
            "filename" : "errorJobSpark-${table_name}-${now():format('yyyy-MM-dd')}.log",
            "spark_log_error_path" : "/opt/datafiles/cdm-source/sparkerrorlog",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "date_end_spark" : {
              "displayName" : "date_end_spark",
              "identifiesControllerService" : false,
              "name" : "date_end_spark",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "spark_log_error_path" : {
              "displayName" : "spark_log_error_path",
              "identifiesControllerService" : false,
              "name" : "spark_log_error_path",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "85095313-7646-3c6f-a3c4-32c444a6be4c",
          "name" : "PutSQL EVENT LOG FAIL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1854.491999403321,
            "y" : -902.2572488043168
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "putsql-sql-statement" : "UPDATE event_log\nSET state ='ERROR',\n    timestamp_fine ='${date_end_spark}',\n    message ='Il file ${filename} ha genereato un ERRORE essendo antecedente all ultimo eseguito'\nWHERE id = '${uuid_originale}'",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-avro-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "05d61659-a1e4-3ee2-9a3e-d43fa36485a2",
          "name" : "ConvertAvroToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 172.17478425333456,
            "y" : -1686.4153090984485
          },
          "properties" : {
            "JSON container options" : "array",
            "Wrap Single Record" : "false"
          },
          "propertyDescriptors" : {
            "JSON container options" : {
              "displayName" : "JSON container options",
              "identifiesControllerService" : false,
              "name" : "JSON container options",
              "sensitive" : false
            },
            "Wrap Single Record" : {
              "displayName" : "Wrap Single Record",
              "identifiesControllerService" : false,
              "name" : "Wrap Single Record",
              "sensitive" : false
            },
            "Avro schema" : {
              "displayName" : "Avro schema",
              "identifiesControllerService" : false,
              "name" : "Avro schema",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.avro.ConvertAvroToJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "189732c9-03aa-3082-b7b2-a2d265dbf705",
          "name" : "Prepare Job Spark Attributes",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 172.17478425333456,
            "y" : -1175.32147327702
          },
          "properties" : {
            "second_path" : "${path}/${filename}",
            "second_date" : "${year}-${month}-${day}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "second_path" : {
              "displayName" : "second_path",
              "identifiesControllerService" : false,
              "name" : "second_path",
              "sensitive" : false
            },
            "second_date" : {
              "displayName" : "second_date",
              "identifiesControllerService" : false,
              "name" : "second_date",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "f3492c36-b709-3b08-a7e0-b9fee6aad479",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -575.4899300005308,
            "y" : -676.0505739056225
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "${spark_log_error_path}",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "2e83c0c5-7d09-37c0-a995-defc1ea7c4b6",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 172.17478425333456,
            "y" : -1529.965866716146
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "key_type" : "$.type_primary_key",
            "id_dataset" : "$.id_dataset",
            "Return Type" : "scalar",
            "last_elab_path" : "$.path_file",
            "last_elab_date" : "$.last_exec",
            "Null Value Representation" : "empty string",
            "id_base_dati" : "$.id_base_dati",
            "key" : "$.primary_key",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "key_type" : {
              "displayName" : "key_type",
              "identifiesControllerService" : false,
              "name" : "key_type",
              "sensitive" : false
            },
            "id_dataset" : {
              "displayName" : "id_dataset",
              "identifiesControllerService" : false,
              "name" : "id_dataset",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "last_elab_path" : {
              "displayName" : "last_elab_path",
              "identifiesControllerService" : false,
              "name" : "last_elab_path",
              "sensitive" : false
            },
            "last_elab_date" : {
              "displayName" : "last_elab_date",
              "identifiesControllerService" : false,
              "name" : "last_elab_date",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "id_base_dati" : {
              "displayName" : "id_base_dati",
              "identifiesControllerService" : false,
              "name" : "id_base_dati",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "8de2fcb7-e105-352a-a662-c70e08fd07f5",
          "name" : "ExecuteSQL Per Offset",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 172.17478425333456,
            "y" : -1870.1939810018562
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "select a.id_base_dati, a.id_dataset, a.path_file, a.last_exec, c.primary_key, c.type_primary_key\nfrom last_diff_exec a\ninner join conf_dataset b on a.id_base_dati=b.id_base_dati and a.id_dataset=b.id_dataset\ninner join table_key c on c.id_base_dati=b.id_base_dati and c.id_dataset=b.id_dataset\nwhere b.nome_dataset = '${table_name}' and b.id_base_dati='${name_db}';",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "8621ea98-cf9b-340d-834c-bb6bbf868b48",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 172.17478425333456,
            "y" : -1349.8619421291837
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "last_elab_file" : "${last_elab_path:substringAfterLast('/')}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "last_elab_file" : {
              "displayName" : "last_elab_file",
              "identifiesControllerService" : false,
              "name" : "last_elab_file",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "f486e2a6-1bc3-35da-8721-8bd3234e3b9f",
          "name" : "RouteOnAttribute CONTROLLO DATA",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 801.8274193136867,
            "y" : -902.0772416987024
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "controlloFile" : "${dataFile:gt(${dataDB})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "controlloFile" : {
              "displayName" : "controlloFile",
              "identifiesControllerService" : false,
              "name" : "controlloFile",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "f988862a-7846-3854-81b8-24e0fb0e73f5",
          "name" : "PutSQL EVENT LOG SUCCESSED",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 172.17478425333456,
            "y" : -410.4809282289898
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "putsql-sql-statement" : "UPDATE event_log\nSET state ='SUCCEDED',\n    timestamp_fine ='${date_end_spark}',\n    message ='Processo di SPARK della tabella ${table_name} TERMINATO con SUCCESSO. il file si trova in ${name_db}_DIFF/${table_name}. il file ha eseguito la differenza con ${last_elab_file}'\nWHERE id = '${uuid_originale}'",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "354de952-fca4-38de-8da6-b40212f5505a",
          "name" : "PutSQL EVENT LOG FAIL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -575.2848773226233,
            "y" : -474.53054439969833
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "putsql-sql-statement" : "UPDATE event_log\nSET state ='FAILED',\n    timestamp_fine ='${date_end_spark}',\n    message ='Processo di SPARK JOB della tabella ${table_name} TERMINATO in ERRRORE. Nella cartella ${spark_log_error_path} si trova il file log di errore'\nWHERE id = '${uuid_originale}'",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-scripting-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "d7651a81-9518-38b9-bd1b-1e9b36b5cb3f",
          "name" : "Convert Date to Timestamp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -649.601369916691,
            "y" : -2004.0703344390922
          },
          "properties" : {
            "Script Engine" : "python",
            "Script Body" : "import time\nfrom datetime import datetime\nimport calendar\nfrom org.apache.commons.io import IOUtils\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom StringIO import StringIO\n\nflowFile = session.get()\nif (flowFile is not None):\n\ttime_tuple_utc = (int(flowFile.getAttribute('year')), int(flowFile.getAttribute('month')), int(flowFile.getAttribute('day')), 0, 0, 0, 0, 0, 0)\n\ttimestamp_utc = calendar.timegm(time_tuple_utc)\n\tif(timestamp_utc is not None):\n\t\tflowFile= session.putAttribute(flowFile, \"timestamp_order\", str(timestamp_utc))\n\t\tsession.transfer(flowFile, REL_SUCCESS)\n\telse:\n\t\tsession.transfer(flowFile, REL_FAILURE)\n\tsession.commit()"
          },
          "propertyDescriptors" : {
            "Script File" : {
              "displayName" : "Script File",
              "identifiesControllerService" : false,
              "name" : "Script File",
              "sensitive" : false
            },
            "Script Engine" : {
              "displayName" : "Script Engine",
              "identifiesControllerService" : false,
              "name" : "Script Engine",
              "sensitive" : false
            },
            "Script Body" : {
              "displayName" : "Script Body",
              "identifiesControllerService" : false,
              "name" : "Script Body",
              "sensitive" : false
            },
            "Module Directory" : {
              "displayName" : "Module Directory",
              "identifiesControllerService" : false,
              "name" : "Module Directory",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.script.ExecuteScript",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "955e891f-a8fc-3325-9702-a20bbd52feec",
          "name" : "PutSQL START",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1574.8902368432541,
            "y" : -2005.5383861116034
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "putsql-sql-statement" : "INSERT INTO event_log (id,state,timestamp_inizio,base_dati,scope,process,file_name)\nVALUES ('${uuid_originale}','STARTED','${date_start_spark}','${name_db}','SPARK ${name_db}','SPARK JOB','${filename}')",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "77682968-6d18-393f-8bc1-a278da475dd5",
          "name" : "ExecuteSQL UPDATE Offset",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 176.0,
            "y" : -600.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "ffb2bbb1-3c3e-3fe2-9ab3-43913dee0ef0",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "UPDATE last_diff_exec \nSET path_file='${second_path}', last_exec='${second_date}', data_inserimento='${date_end_spark}', data_modifica='${date_end_spark}' \nWHERE id_dataset='${id_dataset}'",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "2ae4cbec-42ac-36b5-bb78-b81f8dd79db2",
          "name" : "UpdateAttribute DATE_END_SPARK",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1346.0542312871532,
            "y" : -901.4922010131614
          },
          "properties" : {
            "date_end_spark" : "${now():format('yyyy-MM-dd HH:mm:ss')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "date_end_spark" : {
              "displayName" : "date_end_spark",
              "identifiesControllerService" : false,
              "name" : "date_end_spark",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "b844e162-3495-35c8-a620-37e3c6da8426",
          "name" : "Order by Timestamp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -190.9392543733784,
            "y" : -2003.3437009781856
          },
          "properties" : {
            "initial-order" : "1",
            "group-id" : "${table_name}",
            "inactive-timeout" : "2 min",
            "wait-timeout" : "1 min",
            "batch-count" : "1000",
            "order-attribute" : "timestamp_order"
          },
          "propertyDescriptors" : {
            "initial-order" : {
              "displayName" : "Initial Order",
              "identifiesControllerService" : false,
              "name" : "initial-order",
              "sensitive" : false
            },
            "group-id" : {
              "displayName" : "Group Identifier",
              "identifiesControllerService" : false,
              "name" : "group-id",
              "sensitive" : false
            },
            "inactive-timeout" : {
              "displayName" : "Inactive Timeout",
              "identifiesControllerService" : false,
              "name" : "inactive-timeout",
              "sensitive" : false
            },
            "wait-timeout" : {
              "displayName" : "Wait Timeout",
              "identifiesControllerService" : false,
              "name" : "wait-timeout",
              "sensitive" : false
            },
            "batch-count" : {
              "displayName" : "Batch Count",
              "identifiesControllerService" : false,
              "name" : "batch-count",
              "sensitive" : false
            },
            "maximum-order" : {
              "displayName" : "Maximum Order",
              "identifiesControllerService" : false,
              "name" : "maximum-order",
              "sensitive" : false
            },
            "order-attribute" : {
              "displayName" : "Order Attribute",
              "identifiesControllerService" : false,
              "name" : "order-attribute",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EnforceOrder",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "2c322a4d-3511-39a8-904d-9f2f22fb57d3",
          "name" : "UpdateAttribute DATE_END_SPARK",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 172.17478425333456,
            "y" : -782.2384114277395
          },
          "properties" : {
            "date_end_spark" : "${now():format('yyyy-MM-dd HH:mm:ss')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "date_end_spark" : {
              "displayName" : "date_end_spark",
              "identifiesControllerService" : false,
              "name" : "date_end_spark",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-hadoop-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "4a273092-2d11-394b-866f-57dbe2e498ef",
          "name" : "ListHDFS",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2472.0,
            "y" : -2008.0
          },
          "properties" : {
            "Hadoop Configuration Resources" : "${hdfs-site},${core-site}",
            "Recurse Subdirectories" : "true",
            "file-filter-mode" : "filter-mode-files-only",
            "File Filter" : "[^\\.].*",
            "Kerberos Relogin Period" : "4 hours",
            "Directory" : "/${name_db}/"
          },
          "propertyDescriptors" : {
            "Hadoop Configuration Resources" : {
              "displayName" : "Hadoop Configuration Resources",
              "identifiesControllerService" : false,
              "name" : "Hadoop Configuration Resources",
              "sensitive" : false
            },
            "maximum-file-age" : {
              "displayName" : "Maximum File Age",
              "identifiesControllerService" : false,
              "name" : "maximum-file-age",
              "sensitive" : false
            },
            "Additional Classpath Resources" : {
              "displayName" : "Additional Classpath Resources",
              "identifiesControllerService" : false,
              "name" : "Additional Classpath Resources",
              "sensitive" : false
            },
            "Distributed Cache Service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "Distributed Cache Service",
              "sensitive" : false
            },
            "Recurse Subdirectories" : {
              "displayName" : "Recurse Subdirectories",
              "identifiesControllerService" : false,
              "name" : "Recurse Subdirectories",
              "sensitive" : false
            },
            "file-filter-mode" : {
              "displayName" : "File Filter Mode",
              "identifiesControllerService" : false,
              "name" : "file-filter-mode",
              "sensitive" : false
            },
            "File Filter" : {
              "displayName" : "File Filter",
              "identifiesControllerService" : false,
              "name" : "File Filter",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "Kerberos Keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "Kerberos Keytab",
              "sensitive" : false
            },
            "Kerberos Principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "Kerberos Principal",
              "sensitive" : false
            },
            "Kerberos Relogin Period" : {
              "displayName" : "Kerberos Relogin Period",
              "identifiesControllerService" : false,
              "name" : "Kerberos Relogin Period",
              "sensitive" : false
            },
            "minimum-file-age" : {
              "displayName" : "Minimum File Age",
              "identifiesControllerService" : false,
              "name" : "minimum-file-age",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.hadoop.ListHDFS",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "8ad306b0-a442-39ab-bd22-f06018dc2a58",
          "identifier" : "ea66d530-efb5-30cd-bf32-caac463b346a",
          "name" : "Spark Job",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 172.17478425333456,
            "y" : -949.2508040929167
          },
          "properties" : {
            "data_start_job" : "${now():format('yyyy-MM-dd hh:mm')}",
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "512",
            "Command Path" : "${spark_run}",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "true",
            "Command Arguments" : "${spark_master};${spark_class};${spark_jar};${table_name};${hdfs_path}${last_elab_path};${hdfs_path}${second_path};${hdfs_path}/${name_db}_DIFF/${table_name}/;${last_elab_date};${second_date};${key};${key_type}"
          },
          "propertyDescriptors" : {
            "data_start_job" : {
              "displayName" : "data_start_job",
              "identifiesControllerService" : false,
              "name" : "data_start_job",
              "sensitive" : false
            },
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : {
            "background-color" : "#f01616"
          },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : {
          "hdfs-site" : "/opt/nifi/nifi-current/hdfs-site.xml",
          "name_db" : "ANASCO",
          "test_var" : "test2",
          "hdfs_path" : "hdfs://ha-cluster:8020",
          "spark_master" : "spark://10.207.233.197:7077,10.207.233.196:7077",
          "spark_class" : "it.datalake.MainRunner",
          "core-site" : "/opt/nifi/nifi-current/core-site.xml",
          "spark_jar" : "/opt/datafiles/cdm-source/lib/cdm-diff-0.0.2.jar",
          "spark_run" : "/opt/datafiles/cdm-source/lib/runSparkNew.sh"
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}